@media screen and (max-width: 768px) {
    .hide-xs {
        display: none;
    }

    .center-text-xs
    {
        text-align: center;
    }
}

* {
    font-family: 'Roboto', sans-serif;
}

.area-link {
    color: black;
}

.area-link:hover {
    text-decoration: none;
}

.jumbotron {
    background-color: white;
    color: black;
    padding: 25px 25px;
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.no-outline {
    outline: none;
}

.border-none {
    border: none;
}

.m-t-10 {
    margin-top: 10px;
}

.m-t-20 {
    margin-top: 20px;
}

.m-t-100 {
    margin-top: 100px;
}

.m-b-100 {
    margin-bottom: 100px;
}

.m-y-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.m-y-100 {
    margin-top: 100px;
    margin-bottom: 100px;
}

.p-a-0 {
    padding: 0;
}

.w-100 {
    width: 100%;
}

.h-40px {
    height: 42px;
}

